body {
    background-image: url("../img/subjectsBG.jpg");
    display: grid;
    grid-template-columns: auto;
}

table {
    border-radius: 25px;
    grid-column: 1/span 1;
    background-color: beige;
    padding: 2rem 2rem 2rem 2rem;
    text-align: center;
    font-family: arial, sans-serif;
    border-collapse: separate;
    width: 80%;
    margin-top: 4rem;
    margin-left: 10rem;
}

td,
th {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #CD853F;
    border-style: groove;
}

tr {
    border-bottom: 1px solid #CD853F;
}

thead:first-child {
    background-color: tan;
}